table, td {
    border: 2px solid black;
    border-collapse: collapse;
}
td {
    width: 35px;
    height: 35px;
}
table {
    font-size: 25px;
    text-align: center;
}
.box {
    display: flex;
    justify-content: space-around;
}
.both {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
}
.small {
    font-size: 20px;
}